$black: #333333;
$white: #FFFFFF;
$accent: #B59571;
$fonts:'Circe', sans-serif;


body{
    font-family: $fonts;
}
section:not(.bannSection){
    padding: 75px 0;
}

header{
    position: fixed;
    height: 100vh;
    background-color: $black;
    z-index: 50;
    .header{
        padding: 30px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        .logo-burger{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            .logo{
                width: 80px;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .burger{
            display: flex;
            flex-direction: column;
            width: 35px;
            gap: 7px;
            div{
                background-color: $accent;
                height: 4px;
                border-radius: 1000px;
            }
            div:nth-of-type(1){
                width: 50%;
            }
            div:nth-of-type(3){
                width: 75%;
            }
            }
         }
        .social ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
            a{
                width: 40px;
                height: 40px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
     }
}  
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bannSection{
    position: relative;
    background-image:url('../img/popa.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
   
    .bannBlock{
        position: relative;
        margin: 0 120px;
        height: 100%;
        padding: 30px 0 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .text{
            padding-left: 300px;
            font-size: 54px;
            font-weight: bold;
            color: $white;
            width: 70%;
        }
        nav ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            column-gap: 50px;
            row-gap: 10px;
            list-style: none;
            padding: 0;
            margin: 0;
            color: $white;
            a{
                color: $white;
                text-decoration: none;
                display:inline-block ;
            }
            li:last-of-type a{
                padding: 10px 20px;
                background-color: $accent;
                font-weight: bold;
            }
        }
    }
}
.bannSection::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: .6;
}
.title__block{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-right: 90px;
    margin-bottom: 80px;
}
.title__block::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 60px;
    height: 3px;
    background-color: $accent;
    transform: translateY(-50%);
}
.aboutSection,
.menuSection {
    .menuBlock,
    .aboutBlock {
        .info-block{
            display: grid;
            grid-template-columns: 300px 1fr;
            padding-left: 220px;
            .item{
                .title__name{
                    width: 80%;
                }
                p{
                    font-size: 18px;
                }
                p:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
}
.title__name{
    font-size: 64px;
    font-weight: bold;
    line-height: 1.2;
}